<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pixner.net/cortaly/main/faq.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 20 Jun 2021 17:42:41 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Cortaly - URL Shortner HTML Template</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/owl.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
</head>

<body>
    <!--============= ScrollToTop Section Starts Here =============-->
    <div class="overlayer" id="overlayer">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
    <a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    <div class="overlay"></div>
    <!--============= ScrollToTop Section Ends Here =============-->


    <!--============= Header Section Starts Here =============-->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="/index">
                        <img src="assets/images/logo/logo.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a href="/index">Home</a>
                    </li>
                
                    <li>
                        <a href="/faq">Faq</a>
                    </li>
                    <li class="d-sm-none text-center">
                        <a href="/login" class="header-button active">Login</a>
                    </li>
                    <li class="d-sm-none text-center">
                        <a href="/signup" class="mb-4 header-button">Register</a>
                    </li>
                </ul>
                <div class="header-bar d-lg-none mr-sm-3">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="header-right">
                    <a href="/login" class="header-button d-none d-sm-inline-block m-0 active">Login</a>
                    <a href="/signup" class="header-button d-none d-sm-inline-block m-0">Register</a>
                </div>
            </div>
        </div>
    </header>
    <!--============= Header Section Ends Here =============-->


    <!--============= Page Header Section Starts Here =============-->
    <section class="page-header">
        <div class="banner-bg bg_img" data-background="assets/images/banner/banner-bg.jpg">
            <div class="banner-bg-shape"><img src="assets/images/banner/banner-shape.png" alt="banner"></div>
            <div class="round-1">
                <img src="assets/images/banner/01.png" alt="banner">
            </div>
            <div class="round-2">
                <img src="assets/images/banner/02.png" alt="banner">
            </div>
        </div>
        <div class="container">
            <div class="hero-content">
                <h1 class="title">Frequently Asked Questions</h1>
            </div>
        </div>
    </section>
    <!--============= Page Header Section Ends Here =============-->


    <!--============= Payout Section Starts Here =============-->
    <section class="faq-section">
        <div class="container">
            <div class="faq-area padding-top padding-bottom mt--150">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-8">
                        <div class="section-header mw-100">
                            <h5 class="cate">GOT A QUESTION?</h5>
                            <h2 class="title"> We've Got Answers.</h2>
                        </div>
                    </div>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">Why use a link shortener?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">What will happen if I wasn't able earn enough to be paid?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">Do you have a referral program? How much does it pay?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">How to withdrawal money?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item open active">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">Can you stop someone shrinking my URL?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">Why my views/earnings are not counting?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-title">
                            <img src="assets/css/img/faq.png" alt="css"><span class="title">How to create shorten link?</span><span class="right-icon"></span>
                        </div>
                        <div class="faq-content">
                            <p>Yes, we can do that provided that you send us a complete abuse notice to us. We will then block it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Payout Section Ends Here =============-->


    <!--============= Call In Action Section Starts Here =============-->
    <section class="call-in-action padding-top padding-bottom section-bg text-center">
        <div class="container">
            <div class="section-header mb-low">
                <h5 class="cate">JOIN US NOW</h5>
                <h2 class="title">Boost Your Analytics</h2>
                <p>Sign up for free and become one of the millions of people around the world
                    who have fallen in love with Cortaly</p>
            </div>
            <a href="#0" class="custom-button">Start earning now!</a>
        </div>
    </section>
    <!--============= Call In Action Section Ends Here =============-->


    <!--============= Footer Section Starts Here =============-->
    <footer class="footer-section padding-top">
        <div class="footer-bg bg_img" data-background="assets/images/footer/footer-bg.jpg"></div>
        <div class="footer-bg d-md-block d-none"><img src="assets/images/footer/wave.png" alt="footer"></div>
        <div class="container">
            <div class="section-header cl-white-499">
                <h5 class="cate">Contact Us</h5>
                <h2 class="title">Get in touch!</h2>
                <p>We thrive to ensure that you get the most out of your experience</p>
            </div>
            <form class="contact-form" id="contact_form_submit">
                <div class="form-group">
                    <label for="name">Your Full Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter Your Full Name">
                </div>
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input type="text" name="email" id="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="form-group check-group">
                    <input type="checkbox" id="check" required>
                    <label for="check">I agree to receive emails, newsletters and promotional messages</label>
                </div>
                <div class="form-group text-center">
                    <button type="submit">Send Message</button>
                </div>
            </form>
            <div class="footer-top">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo/footer-logo.png" alt="logo">
                    </a>
                </div>
                <ul class="links">
                    <li>
                        <a href="#0"><img src="assets/images/footer/neteller.png" alt="footer"></a>
                    </li>
                    <li>
                        <a href="#0"><img src="assets/images/footer/skrill.png" alt="footer"></a>
                    </li>
                    <li>
                        <a href="#0"><img src="assets/images/footer/paypal.png" alt="footer"></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left cl-white">
                        <p>&copy; Copyright 2021 | <a href="/index">KetiURL</a> By Vlabs</p>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--============= Footer Section Ends Here =============-->




    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/waypoints.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/counterup.min.js"></script>
    <script src="assets/js/owl.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/paroller.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/main.js"></script>
</body>



</html>